<div class="search-wrapper relative">

  <div class="row">

    <div class="search-container relative" [ngStyle]="{'width': width || '50%', 'margin': margin || null}">
      <div class="title">{{title}}</div>
      <div class="search-field">
        <input type="text"
               class="front-end-img search icon"
               [placeholder]="placeHolder != null? placeHolder: ''"
               (focus)="inputFocus()"
               (input)="keyPress(inputText.value)"
               #inputText/>
        <div class="suggestion-box" #suggestionBox>
          <ul #suggestionList>
            <li *ngIf="showInvalidLengthMessage">
              {{invalidLengthMessage}}
            </li>
            <li *ngFor="let item of suggestions"
                (click)="inputText.value = item;">
              {{item}}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div>
      <ng-content></ng-content>
    </div>

  </div>

</div>
