<smart-navigation>
  <smart-nav-item label="PROF. SAÚDE" imgPath="/assets/img/profissionais.svg" route="/navigation"></smart-nav-item>
  <smart-nav-item label="ESCALAS" imgPath="/assets/img/escalas.svg" route="/escalas"></smart-nav-item>
  <smart-nav-item label="PACIENTES" imgPath="/assets/img/visitas.svg" route="/patient"></smart-nav-item>
</smart-navigation>

<div class="row" data-label="Codigo">
  <pre><code class="html">
    &lt;smart-navigation>
      &lt;smart-nav-item label="PROF. SAÚDE" imgPath="/assets/img/profissionais.svg" route="/navigation">&lt;/smart-nav-item>
      &lt;smart-nav-item label="ESCALAS" imgPath="/assets/img/escalas.svg" route="/escalas">&lt;/smart-nav-item>
      &lt;smart-nav-item label="PACIENTES" imgPath="/assets/img/visitas.svg" route="/patient">&lt;/smart-nav-item>
    &lt;/smart-navigation></code>
  </pre>
</div>
