<div class="row">
    <smart-menu>
        <smart-menu-item href="/">Home</smart-menu-item>
        <smart-menu-item href="/practitioner-card">practitioner-card</smart-menu-item>
        <smart-menu-item href="/search-header">search-header</smart-menu-item>
        <smart-menu-item href="/menu" active="true">Menu</smart-menu-item>
        <smart-menu-item href="/loading">loading</smart-menu-item>
    </smart-menu>
</div>
<div class="row" data-label="Codigo">
    <pre><code class="html">&lt;smart-menu>
    &lt;smart-menu-item href="/">Home&lt;/smart-menu-item>
    &lt;smart-menu-item href="/practitioner-card">practitioner-card&lt;/smart-menu-item>
    &lt;smart-menu-item href="/search-header">search-header&lt;/smart-menu-item>
    &lt;smart-menu-item href="/menu" active="true">Menu&lt;/smart-menu-item>
    &lt;smart-menu-item href="/loading">loading&lt;/smart-menu-item>
&lt;/smart-menu></code></pre>
</div>