li {
  list-style: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: left;
  font-family: skolasansblack;
  text-align: left;
  white-space: nowrap;
}

li:hover, li.highlight{
  background-color: #e0dfdd;
}
