/* CSS file for front-end-common images */

.front-end-img.logo-img{
  background-image: url('./img/logo.svg');
}

.front-end-img.background-building{
  background-image: url('./img/background-building.svg');
}

.front-end-img.btn-next{
  background-image: url('./img/next.png');
}

.front-end-img.success{
  background-image: url('./img/success.gif');
}

.front-end-img.search{
  background-image: url('./img/search.png');
}

.front-end-img.select-arrow.down{
  background-image: url('./img/select-arrow-down.svg');
}

.front-end-img.select-arrow.up{
  background-image: url('./img/select-arrow-up.svg');
}

.front-end-img.logout{
  background-image: url('./img/logout.svg');
}

.front-end-img.practitioner{
  background-image: url('./img/practitioner.svg');
}

.front-end-img.menu{
  background-image: url('./img/ic_menu_black_24px.svg');
}

.front-end-img.menu-white{
  background-image: url('./img/ic_menu_white_24px.svg');
}

.front-end-img.dia{
  background-image: url('./img/dia.png');
}

.front-end-img.tarde{
  background-image: url('./img/tarde.png');
}

.front-end-img.noite{
  background-image: url('./img/noite.png');
}

.front-end-img.arrow-back{
  background-image: url('./img/arrow_back.svg');
  height: 30px;
  width: 30px;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

smart-evaluation-reminder smart-practitioner-card:first-child .thumbnail{
  background-image: url('./img/nurse_1.png') !important;
}

smart-evaluation-reminder smart-practitioner-card:last-child .thumbnail{
  background-image: url('./img/nurse_2.png') !important;
}
