<ul class="nav nav-pills nav-stacked col-md-2">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/">home</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="header">header</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="practitioner-thumbnail">practitioner-thumbnail</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="identification-cmp">identification</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="card">card</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="practitioner-card">practitioner-card</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="search-header">search-header</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="dialog">dialog</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="practitioner-photo-chooser">practitioner-photo-chooser</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="loading">loading</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="practitioner-form">practitioner-form</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="practitioner-name">practitioner-name</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="scheduler">scheduler</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="navigation">navigation</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="select">select</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="rules-calendar">rules-calendar</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="save-changes-button">save-changes-button</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="greeting">greeting</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="login">login</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="logout">logout</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="ui-log">ui-log</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="menu">menu</a>
  </li>
  <li routerLinkActive="active">
    <a routerLink="evaluation-reminder">evaluation-reminder</a>
  </li>
</ul>
