<div class="row">
  <smart-identification menuHeader="Seus profissionais de saúde"
                        evaluationMessage="Avalie os enfermeiros que cuidam de você"
                        (evaluationClick)="onEvaluationClick()"></smart-identification>

  <smart-identification menuHeader="Seus profissionais de saúde"
                        emptyPractitionersMessage="Nenhum profissional encontrado para este turno"
                        (evaluationClick)="onEvaluationClick()"
                        evaluationMessage="Avalie os enfermeiros que cuidam de você"></smart-identification>
</div>
<div class="row" data-label="Codigo">
  <pre><code class="html">&lt;smart-identification
                      menuHeader="Seus profissionais de saúde"
                      evaluationMessage="Avalie os enfermeiros que cuidam de você"&gt;
&lt;/smart-identification&gt;</code></pre>
</div>
<div class="row">
    <smart-header>
      <div col3>
          <smart-identification [ngStyle]="{'margin-top': '-20px'}"
                                (open)="log('load practitioners');"
                                (evaluationClick)="onEvaluationClick()"
                                [menuTransform]="'translate(-620px, 0)'"
                                width="700px"
                                height="400px"
                                menuHeader="Seus profissionais de saúde"
                                evaluationMessage="Clique aqui para avaliar os enfermeiros que cuidaram de você"
                                emptyPractitionersMessage="Nenhum profissional associado"
                                emptyNurseMessage="Nenhum médico associado para esta internação"
                                emptyAllMessage="Nenhum profissional de enfermagem associado">
          </smart-identification>
      </div>
    </smart-header>
</div>
<div class="row" data-label="Codigo">
  <pre><code class="html">&lt;smart-header>
  &lt;div col3>
      &lt;smart-identification [ngStyle]="&#123;'margin-top': '-20px'}"
                                (open)="log('load practitioners');"
                                (evaluationClick)="onEvaluationClick()"
                                [menuTransform]="'translate(-620px, 0)'"
                                width="700px"
                                height="400px"
                                menuHeader="Seus profissionais de saúde"
                                evaluationMessage="Clique aqui para avaliar os enfermeiros que cuidaram de você"
                                emptyPractitionersMessage="Nenhum profissional associado"
                                emptyNurseMessage="Nenhum médico associado para esta internação"
                                emptyAllMessage="Nenhum profissional de enfermagem associado">
      &lt;/smart-identification>
  &lt;/div>
&lt;/smart-header></code></pre>
obs: se a prop [patient] for inserida, o componente não chamará o patient internamente.
</div>
