<div class="row">
  <smart-header (logoClick)="$event.preventDefault();" logoHref="http://www.google.com">
    <div col1>coluna 1</div>
    <div col2>coluna 2</div>
    <div col3>coluna 3</div>
    <div col4>coluna 4</div>
  </smart-header>
</div>
<div class="row" data-label="Codigo">
  <pre><code class="html">&lt;smart-header (logoClick)="$event.preventDefault();" logoHref="http://www.google.com">
    &lt;div col1>coluna 1&lt;/div>
    &lt;div col2>coluna 2&lt;/div>
    &lt;div col3>coluna 3&lt;/div>
    &lt;div col4>coluna 4&lt;/div>
  &lt;/smart-header></code></pre>
</div>
