<div class="row">
  <smart-practitioner-photo-chooser [practitioner]="practitioner"
                                    placeHolder="Inserir imagem"
                                    (error)="onError()"
                                    (success)="onSuccess()">
  </smart-practitioner-photo-chooser>
</div>

<div class="row" data-label="Codigo">
  <pre><code class="html">&lt;smart-practitioner-photo-chooser [practitioner]="practitioner"
                                  placeHolder="Inserir imagem"
                                  (error)="onError()"
                                  (success)="onSuccess()">
&lt;/smart-practitioner-photo-chooser></code></pre>
</div>
