<div class="wrapper" [ngClass]="{'selected': opened}" >
  <div class="box front-end-img practitioner" (click)="onShow();" ></div>
  <div class="box icon front-end-img practitioner" (click)="onShow();"></div>
  <div class="menu" [ngStyle]="{ 'transform': (menuTransform == null || menuTransform.trim().length === 0)? null: menuTransform }">
    <div class="menu-header">
      <h3>{{menuHeader}}</h3>
      <span class="time">{{currentDay}} - {{shiftInfo}}</span>
    </div>
    <div class="list-container" [ngStyle]="{
           'width': (width == null || width.trim().length === 0) ? null: width,
           'min-height': getCalculatedHeight()
          }">

      <ul class="list-group">
        <li class="list-group-item" *ngIf="emptyPractitioners && emptyNurses">
          <h4>{{emptyAllMessage}}</h4>
        </li>
        <li class="list-group-item" *ngIf="emptyPractitioners && !emptyNurses">
          <h4>{{emptyPractitionersMessage}}</h4>
        </li>
        <li class="list-group-item" *ngFor="let practitionerKey of getKeys(practitioners)">
          <div class="thumbnail-wrapper">
            <smart-practitioner-thumbnail [practitioner]="practitioners[practitionerKey]"></smart-practitioner-thumbnail>
          </div>
          <div class="info-wrapper">
            <div>{{getCareProviderType(practitionerKey)}}</div>
            <div>{{practitioners[practitionerKey].fullName}}</div>
          </div>
        </li>
      </ul>
      <div class="evaluation-reminder" (click)="onEvaluationClick()" *ngIf="haveAppointments">
        {{evaluationMessage}}
      </div>
      <ul class="list-group nurses" (click)="onEvaluationClick()" >
        <li class="list-group-item" *ngIf="!emptyPractitioners && emptyNurses">
          <h4>{{emptyNurseMessage}}</h4>
        </li>
        <li class="list-group-item" *ngFor="let nurseKey of getKeys(nurses)">
          <div class="thumbnail-wrapper">
            <smart-practitioner-thumbnail [practitioner]="nurses[nurseKey]"></smart-practitioner-thumbnail>
          </div>
          <div class="info-wrapper">
            <div>{{getCareProviderType(nurseKey)}}</div>
            <div>{{nurses[nurseKey].fullName}}</div>
          </div>
        </li>
      </ul>

    </div>
  </div>
  <div class="overlay" (click)="close();"></div>
</div>
