<div class="row" data-label="Codigo">
  <pre><code class="html">&lt;smart-login headerTitle="Smart Hospitality"
             loginPlaceHolder="login"
             passwordPlaceHolder="password"
             loginButtonLabel="entrar"
             authErrorMessage="Usuario invalido"
             tokenErrorMessage="Erro no servidor">&lt;/smart-login></code></pre>
</div>
<div class="row login-container">
  <smart-login headerTitle="Smart Hospitality"
               loginPlaceHolder="login"
               passwordPlaceHolder="password"
               loginButtonLabel="entrar"
               authErrorMessage="Usuario invalido"
               tokenErrorMessage="Erro no servidor"></smart-login>
</div>
