<smart-card [selected]="selected" class="practitioner-card">
  <div content>
    <smart-practitioner-thumbnail [practitioner]="practitioner"
                                  border="6px solid #fff"
                                  width="110px"
                                  height="110px"
                                  borderRadius="55px"
                                  class="practitioner-thumb"></smart-practitioner-thumbnail>
    <div class="role" *ngIf="practitioner.practitionerRoles" >{{getRoleLabels()}}</div>
    <div class="name">{{practitioner.fullName}}</div>
    <div class="crm">{{regionalCouncil}} {{practitioner.crm}} {{practitioner.crmUF}}</div>
    <ng-content select="[evaluation]"></ng-content>
  </div>
  <div actions>
    <ng-content select="[actions]"></ng-content>
  </div>
</smart-card>
